<!--
  Generated template for the Statistic page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="darkbrown">
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Statistic</ion-title>
        <ion-buttons end>
            <button ion-button (click)="openModal()">
                CalCon
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h1 class="pageHeader">Calorie Summary</h1>
    <div class="statistic-graph">
        <ion-card>
            <ion-card-header>
                Consuming Calories Statistics
            </ion-card-header>
            <ion-card-content>
                <canvas #barCanvas></canvas>
            </ion-card-content>
        </ion-card>
    </div>
    <div class="statistic-summary">
        <ion-item>
            <div class="topic">Your calorie intake for <b>yesterday: </b></div>
            <div class="calorie-intake-number">
                {{this.calpast}} kcal
            </div>
        </ion-item>
        <ion-item>
            <div class="topic">Your calorie intake for <b>today: </b></div>
            <div class="calorie-intake-number">
                {{this.cal}} kcal
            </div>
        </ion-item>
        <ion-item>
            <div class="topic">
                <br> You can reduce your calorie intake
                <br> by
            </div>
            <div class="calorie-intake-number">
                {{this.calReduce}} kcal
            </div>
        </ion-item>
    </div>
</ion-content>
