<!--
  Generated template for the CalorieDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="darkbrown">
        <ion-title>CalorieDetail</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h1 class="pageHeader">{{this.meal}} Calorie</h1>
    <div class="circle">
        <h1 class="Calorie-number"> {{this.cal}} </h1>
        <p>KCal</p>
    </div>
    <div class="Calorie-summary">
        <ion-item>
            Menu
            <div class="Calorie-number-time">Calorie</div>
        </ion-item>
        <ion-item-sliding *ngFor="let food of Foods">
            <ion-item>
                <ion-thumbnail item-left>
                    <img src="{{food.img}}">
                </ion-thumbnail>
                <h2 style="float: left;">{{food.name}}</h2>
                <div class="Calorie-number-time">
                    <h2 style="float: right;">{{food.Calories}} Cal</h2>
                </div>
            </ion-item>
        </ion-item-sliding>
    </div>
</ion-content>
