<!--
  Generated template for the MenuDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>{{Name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let food of Foods">
            <ion-item>
                <ion-thumbnail item-left>
                    <img src="{{food.img}}">
                </ion-thumbnail>
                <h2>{{food.name}}</h2>
                <p><ion-icon name="flame" color="darkpink"></ion-icon> {{food.Calories}} Cal</p>
                <button ion-button clear item-right color="darkpink" (click)="goToOtherPage(food)">View</button>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
</ion-content>
